.icon-container {
    position: relative;
}

.icon-container__badge {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: var(--cycle-radius);
    background-color: var(--warning-color);
    color: var(--clr-ntrl-min);
}

.switcher-wrapper__badge {
    position: absolute;
    top: -14px;
    right: 10px;
    height: 1.25rem;
    padding: 2.5px 0.5rem;
    border-radius: 0.125rem;
    font: normal var(--type-medium) 0.625rem var(--font-family-primary);
    background-color: var(--succes-color);
    color: var(--clr-ntrl-min);
}
