.btn {
    height: 2.5rem;
    padding: 0.75rem 1rem;
    color: var(--clr-ntrl-min);
    font: var(--generic-font-styles);
    border-radius: var(--btn-radius);
    border: 0;
}

.btn--upgrade {
    background-color: var(--succes-color);
}

.btn-light {
    height: 2.125rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    grid-gap: 0.5rem;
    border-radius: var(--base-radius);
    border: 0;
    font: var(--generic-font-styles);
    font-size: var(--type-smallest);
    color: var(--primary-color-dk);
}

.btn-light i {
    color: rgba(251, 176, 59, 1);
}
