.select-wrapper {
    width: 15rem;
    height: 2.5rem;
    padding: 0 0.75rem;
    border-radius: var(--large-radius);
    border: 1px solid var(--border-color);
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
