/*********** Main Header Styles Start *************************/
.header-wrapper {
    height: var(--header-height);
    padding: 0 2rem 0 0.75rem;
    background-color: var(--clr-base);
    color: var(--clr-ntrl-min);
}

.header-list {
    grid-gap: 1rem;
}

.header-list__item {
    position: relative;
    padding-left: 1rem;
}

.header-list__item::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    content: '';
    width: 0.063rem;
    height: 1rem;
    background-color: var(--divider-color);
}

.header-list__item:first-child::before {
    display: none;
}

.avatar-wrapper {
    width: 2rem;
    height: 2rem;
    border-radius: var(--cycle-radius);
    font: normal var(--type-regular) var(--type-smallest) var(--font-family-default);
    background-color: var(--clr-base-lt);
    color: var(--clr-ntrl-min);
}


/*Nested Navbar */
.nested-header-nav {
    height: var(--nested-header-height);
    padding: 0 1.5rem 0 0;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.nav-list {
    padding: 0 1rem;
}

.nav-list__item {
    grid-gap: 1rem;
    font: var(--generic-font-styles);
    color: var(--clr-base);
}

.collapse-wrapper {
    width: 15rem;
    height: 4rem;
    padding-left: 0.75rem;
    grid-gap: 0.5rem;
    border-right: 1px solid var(--border-color);
}

.logo-figcaption {
    font: normal var(--type-regular) var(--type-small) var(--font-family-default);
    color: var(--clr-base);
}

/* Icons Style */
.collapse-icon {
    width: auto;
}
