.sidebar {
    height: inherit;
    width: 15rem;
    background-color: var(--clr-ntrl-min);
}

/* Sidebar Collapse Styles */

.collapse-wrapper {
    width: 15rem;
    height: 4rem;
    padding-left: 0.75rem;
    grid-gap: 0.5rem;
    border-right: 1px solid var(--border-color);
}

.logo-figcaption {
    font: normal var(--type-regular) var(--type-small) var(--font-family-default);
    color: var(--clr-base);
}

/* Icons Style */
.collapse-icon {
    width: auto;
}

.icon-wrapper {
    width: 1.5rem;
    height: 1.5rem;
}

.icon {
    font-size: 1.2rem;
    color: inherit;
}

/* Main Sidebar List Styles */
.sidebar-list {
    margin-top: 0.75rem;
    padding: 0 0.375rem;
    grid-gap: 0.25rem;
}

.sidebar-list__item {
    height: 2.5rem;
    padding: 0 0.5rem;
    font-weight: var(--type-regular);
}

.sidebar-list__item-text {
    position: relative;
    flex: 1;
    grid-gap: 0.75rem;
    font: var(--generic-font-styles);
    font-weight: inherit;
    color: var(--icon-and-text-color);
}


.sidebar-list__item--active
.sidebar-list__item-text::after {
    position: absolute;
    right: -0.5rem;
    top: 0;
    content: '';
    width: 0.125rem;
    height: 100%;
    background-color: var(--clr-base-lt);
}

.sidebar-list__item--active {
    border-radius: 0.438rem;
    background-color: var(--active-sidebar-item);
    font-weight: var(--type-semi-bold);
}

.sidebar-list__item--active i {
    color: var(--active-icon-color);
}

