.sidebar {
    height: 100%;
    width: 15rem;
    transition: 500ms;
}

/* Sidebar Collapse Styles */
.icon-wrapper {
    width: 1.5rem;
    height: 1.5rem;
}

.icon {
    font-size: 1.2rem;
    color: inherit;
}

/* Main Sidebar List Styles */
.sidebar-list {
    margin-top: 0.75rem;
    padding: 0 0.375rem;
    grid-gap: 0.25rem;
}

.sidebar-list__item {
    height: 2.5rem;
    padding: 0 0.5rem;
    grid-gap: 0.75rem;
    font-weight: var(--type-regular);
}

.sidebar-list__item-text {
    position: relative;
    flex: 1;
    font: var(--generic-font-styles);
    font-weight: inherit;
    color: var(--icon-and-text-color);
}


.sidebar-list__item--active
.sidebar-list__item-text::after {
    position: absolute;
    right: -0.5rem;
    top: 0;
    content: '';
    width: 0.125rem;
    height: 100%;
    background-color: var(--clr-base-lt);
}

.sidebar-list__item--active {
    border-radius: 0.438rem;
    background-color: var(--active-bg-item);
    font-weight: var(--type-semi-bold);
}

.sidebar-list__item--active i {
    color: var(--active-color);
}

